@charset "UTF-8";
body {
  background-color: red;
  font-family: courier;
  border: 5px darkgray;
  border-style: groove;
  padding: 30px;
}
h1 {
  color: blue;
  text-align: center;
  border: 5px blue;
  border-style: solid;
}

h3 {
  color: blue;
}
label{
  color: darkblue;
}
p {
  color: red;
}
